C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html
C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html
C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.htmlC:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html

C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.htmlC:\Users\thear\OneDrive\Desktop\git clone\my_site\index.htmlC:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html
C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html

C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.htmlC:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html
C:\Users\thear\OneDrive\Desktop\git clone\my_site\index.html